@use "./../../common/variables" as *;
@use "./../../common/bootstrap-config" as *;

.footer {
  a {
    color: $gray-800;
  }

  span {
    color: $gray-800;
  }

  &-top {
    padding-top: 45px;
    padding-bottom: 22px;
    background-color: $main-text-color;

    &_logo {
      width: 100%;
      max-width: 80%;
    }

    &_picture {
      width: 100%;
      max-width: 60%;
    }

    .controls {
      border-color: $gray-800;

      &-mail {
        padding-right: 50px;

        &::placeholder {
          color: $gray-800;
        }
      }

      [type="text"] {
        color: $gray-800;
        background-color: transparent;
      }

      [type="submit"] {
        top: 2px;
        right: 15px;
      }
    }

    .dropdown {
      [type="button"] {
        min-width: 100%;
        max-width: 210px;
        padding: 5px 30px;
      }

      .btn.dropdown-toggle::after {
        margin-left: 10px;
        color: $primary;
      }
    }

    .dropdown-menu {
      width: 100%;
    }
  }

  &-bottom {
    background-color: black;

    a {
      padding: 5px 10px;
    }

    &_copyright {
      p {
        color: $gray-800;
      }
    }
  }
}