@use "./../../common/variables" as *;
@use "./../../common/bootstrap-config" as *;

.footer {
  &-top {
    padding-top: 45px;
    padding-bottom: 22px;
    background-color: $main-text-color;

    &_picture {
      width: 100%;
      max-width: 50%;
    }

    &_logo {
      width: 100%;
      max-width: 60%;
    }

    .list-group {
      a {
        color: $gray-800;
      }
    }

    p, span {
      color: $gray-800;
    }
  }

    &-bottom {
      background-color: black;

      p {
        color: $gray-800;
      }

      &__scroll {
        right: 160px;
        bottom: 5px;
      }
    }

    .dropdown {
      [type="button"] {
        min-width: 210px;
        padding: 5px 30px;
      }

      .btn.dropdown-toggle::after {
        margin-left: 10px;
        color: $primary;
      }
    }

    .dropdown-menu {
      width: 100%;
    }
  }