@use "./../../common/variables" as *;
@use "./../../common/bootstrap-config" as *;

.content {
  button {
    padding: 12px;
    color: $blue;
  }

  .accordion-body {
    padding: 12px;
  }

  .card {
    .hover-image-wrapper {
      overflow: hidden;
      min-height: 330px;
      max-height: 330px;

      img {
        transition: 0.3s;

        &:first-child {
          right: 0;
        }

        &:last-child {
          right: -100%;
        }
      }
    }

    &:hover .hover-image-wrapper img {
      &:first-child {
        right: 100%;
      }

      &:last-child {
        right: 0;
      }
    }
  }

  .sticker {
    &__new {
      top: 10px;
      right: 10px;

      display: block;

      width: 55px;
      height: 25px;
      padding: 5px 12px;

      font-family: $font-late-bold;
      font-size: $f-xs;
      line-height: 17px;
      color: #fff;
      text-transform: uppercase;

      background-color: $primary;
      border-radius: 33px;
    }

    &__best {
      content: url("./../../assets/pictures/svg/fire.svg");

      top: 10px;
      right: 10px;

      display: block;

      width: 55px;
      height: 25px;
      padding: 5px 10px;

      background-color: $bg-light-color;
      border-radius: 33px;
    }

    &__team {
      content: url("./../../assets/pictures/svg/favorite.svg");

      top: 40px;
      right: 10px;

      display: block;

      width: 55px;
      height: 25px;
      padding: 2px 10px;

      background-color: $blue;
      border-radius: 33px;
    }
  }

    &__pagination, .disabled a {
      color: #fff;
    }
  }

  .actives a {
    color: #fff;
    background-color: $primary;
  }