@use "./../../common/variables" as *;
@use "./../../common/bootstrap-config" as *;

.content {
  button {
    color: $blue;
    padding: 12px;
  }

  .accordion-body {
    padding: 12px;
  }

  .card {
    overflow: hidden;

    .hover-image {
      width: 100%;
      height: auto;
      transition: transform $duration ease-in-out;
    }

    &:hover .hover-image {
      cursor: pointer;
      @include slideAnimation($duration);
    }

    @keyframes slideAnimation {
      to {
        transform: translateX(100%);
      }
    }
  }

  .card1 {
    overflow: hidden;

    .sticker {
      &__new {
        right: 10px;
        top: 10px;
        background-color: $primary;
        font-family: $font-late-bold;
        font-size: $f-xs;
        color: #fff;
        padding: 5px 12px;
        text-transform: uppercase;
        display: block;
        border-radius: 33px;
        line-height: 17px;

        width: 55px;
        height: 25px;
      }
    }

    .hover-image {
       width: 100%;
       height: auto;
       transition: transform $duration ease-in-out;
     }

    &:hover .hover-image {
      cursor: pointer;
      @include slideAnimation($duration);
    }

    @keyframes slideAnimation {
      to {
        transform: translateX(100%);
      }
    }
  }

  .card2 {
    .sticker {
      &__best {
        content: url(./../../assets/pictures/svg/fire.svg);
        right: 10px;
        top: 10px;
        background-color: $bg-light-color;
        padding: 5px 10px;
        display: block;
        border-radius: 33px;

        width: 55px;
        height: 25px;
      }

      &__team {
        content: url(./../../assets/pictures/svg/favorite.svg);
        right: 10px;
        top: 40px;
        background-color: $blue;
        padding: 2px 10px;
        display: block;
        border-radius: 33px;

        width: 55px;
        height: 25px;
      }
    }

    .hover-image {
      width: 100%;
      height: auto;
      transition: transform $duration ease-in-out;
    }

    &:hover .hover-image {
      cursor: pointer;
      @include slideAnimation($duration);
    }

    @keyframes slideAnimation {
      to {
        transform: translateX(100%);
      }
    }
  }

  .card3 {
    .sticker {
      &__best {
        content: url(./../../assets/pictures/svg/fire.svg);
        right: 10px;
        top: 10px;
        background-color: $bg-light-color;
        padding: 5px 10px;
        display: block;
        border-radius: 33px;

        width: 55px;
        height: 25px;
      }
    }

    .hover-image {
      width: 100%;
      height: auto;
      transition: transform $duration ease-in-out;
    }

    &:hover .hover-image {
      cursor: pointer;
      @include slideAnimation($duration);
    }

    @keyframes slideAnimation {
      to {
        transform: translateX(100%);
      }
    }
  }

    &__pagination, .disabled a {
      color: #fff;
    }
  }

  .actives a {
    color: #fff;
    background-color: $primary;
  }