$main-text-color: #17181A;
$bg-light-color: #F3F3F3;
$s-serif: sans-serif;
$font-late-regular: 'Lato-regular', $s-serif;
$font-late-bold: 'Lato-bold', $s-serif;
$font-late-black: 'Lato-black', $s-serif;
$f-xs: 13px;
$f-sm: 15px;
$f-md: 17px;
$f-ml: 28px;
$duration: 0.5s;