$main-link-color: #73962C;
$main-text-color: #17181A;
$accent-blue-color: #2268B4;
$bg-light-color: #F3F3F3;
$bg-footer-link-color: #BDBDBE;

$s-serif: sans-serif;
$font-late-regular: 'Lato-regular', $s-serif;
$font-late-bold: 'Lato-bold', $s-serif;
$font-late-black: 'Lato-black', $s-serif;

$f-xs: 13px;
$f-sm: 15px;
$f-md: 17px;
$f-ml: 28px;
//$f-lg: px;
//$f-xl: px;